<div class="ttvproduct-timer" data-end-time="{{ productdate }} 00:00:00">
	<div class="ttvtimer-wrapper">
		<div class="ttvproduct-timer-icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
		<div class="ttvproduct-timer-wrapper">
			<div class="ttvproduct-timer-box ttvproduct-time-days">
				<div class="days"></div>
				<div class="ttvproduct-timer-line"></div>
				<div class="ttvtimer-name">Day</div>
			</div>
		</div>
		<span class="ttvtimer-dot">:</span>
		<div class="ttvproduct-timer-wrapper">
			<div class="ttvproduct-timer-box ttvproduct-time-hours">
				<div class="hours"></div>
				<div class="ttvproduct-timer-line"></div>
				<div class="ttvtimer-name">Hours</div>
			</div>
		</div>
		<span class="ttvtimer-dot">:</span>
		<div class="ttvproduct-timer-wrapper">
			<div class="ttvproduct-timer-box ttvproduct-time-minutes">
				<div class="minutes"></div>
				<div class="ttvproduct-timer-line"></div>
				<div class="ttvtimer-name">Minutes</div>
			</div>
		</div>
		<span class="ttvtimer-dot">:</span>
		<div class="ttvproduct-timer-wrapper">
			<div class="ttvproduct-timer-box ttvproduct-time-seconds">
				<div class="seconds"></div>
				<div class="ttvproduct-timer-line"></div>
				<div class="ttvtimer-name">Second</div>
			</div>
		</div>
		<div class="ttvproduct-timer-complated"></div>
	</div>
</div>