<div class='ttv-product-cart-quentity-inner'>
	<button class='ttvproduct-cart-quentity-decrement'>-</button>
	<input type='text' class='ttvproduct-cart-quentity' id="cart_quantity{{ product_id }}" name="quantity" value="1" >
	<button class='ttvproduct-cart-quentity-increment'>+</button>
</div>