<div class="ttvleft-right-title-wrapper">
	<div class="ttvleft-right-title facet-label">{{ title }}</div>
	<a class='ttvleft-right-title-toggle'>
		<i class="fa fa-angle-down" aria-hidden="true"></i>
	</a>
</div>