{% if modules %}
<aside id="column-right" class="col-xl-2 col-lg-12 col-md-12 col-sm-12 col-xs-12 ttv-left-right-panel-hide">
	<div class="ttvright-column-remove">
		<div class="ttvright-column-close-btn"></div>
	</div>
	{% for module in modules %} {{ module }} {% endfor %}
</aside>
{% endif %}