*::-webkit-scrollbar-thumb {
	background-color: #maincolor1;
}

a:focus,
a:hover,
.btn-outline-primary,
.btn-link,
.page-link ,
.text-primary ,
.btn-unstyle:focus .expand-more,
.dropdown-item:focus,
.dropdown-item:hover,
.fancybox-success a:hover,
.bootstrap-datetimepicker-widget .btn.focus,
.bootstrap-datetimepicker-widget .btn:focus,
.bootstrap-datetimepicker-widget .btn:hover,
.ttvtags-wrapper-info .ttvtags-title a:hover,
#ttvcmsdesktop-main-menu .ttvcmsmain-menu-wrapper .ttv-header-menu[data-depth="1"] > li > .ttvmenu-link-wrapper a span:hover,
#ttvcmsdesktop-language-selector:hover .ttv-language-btn i, 
#ttvcmsdesktop-currency-selector:hover .ttv-currency-btn i, 
#ttvcmsdesktop-user-info:hover .ttvhedaer-sign-btn i,
#ttvcmsdesktop-language-selector:hover .ttv-language-btn .ttv-language-span, 
#ttvcmsdesktop-currency-selector:hover .ttv-currency-btn .ttv-currency-span, 
#ttvcmsdesktop-user-info .ttvhedaer-sign-btn:hover,
.ttv-language-dropdown li a:hover, .ttv-currency-dropdown li a:hover ,
.ttvnews-event-link a:hover,
.ttvallproduct-link a:hover,
.ttvleft-right-penal-all-block .ttvall-product-bottom-link-block a:hover, 
.ttvcmsblog-left-side .ttvnews-event-link a:hover,
.ttvfooter-view-link a:hover,
.ttvnews-event-link a:hover i,
.ttvallproduct-link a:hover i,
.ttvleft-right-penal-all-block .ttvall-product-bottom-link-block a:hover i,
.ttvcmsblog-left-side .ttvnews-event-link a:hover i,
.ttvfooter-view-link a:hover i,
.ttvtab-title-wrapper .ttvtabs-products li:hover span,
.ttvtab-title-wrapper .ttvtabs-products li.active span,
.ttvproduct-timer-wrapper .seconds,
.ttvproduct-wrapper:hover .ttvproduct-name .product-title a h6,
.ttv-product-catalog-btn .ttvproduct-cart-quentity,
.ttvfooter-store-link a:hover,
.footer-container li a:hover,
.ttvcopylink p:hover,
.block_newsletter .ttvnewsletter-input input[type=text]:focus+button .search,
.block_newsletter .ttvnewsletter-input button[type=submit] .search:hover,
.pagination .current a,
.ttvsearch-dropdown-total-wrapper:hover .ttvsearch-dropdown-total,
.ttvleft-right-penal-all-block .ttv-accountinfo-wrapper a:hover ,
.ttvmain-slider-contant .ttvmain-slider-title:hover ,
.ttvmain-slider-contant .ttvmain-slider-button:hover,
.ttvcmscategory-slider .ttvcategory-slider-wrapper-info:hover .ttvcategory-slider-title,
.ttvall-block-box-shadows:hover .ttvservices-content-box .ttvservices-title,
.ttvblog-event-all-content-block .ttvnews-event-titel a:hover,
.tabs .nav-tabs .nav-link.active,
#wrapper .breadcrumb li:last-child a,
#wrapper .breadcrumb li:hover a,
.ttvproduct-button-main button:hover i,
.ttvproduct-button-main button:hover,
.ttvcmsinstagram-slider .ttvinstagram-user-name{
    color: #maincolor1;
}

.btn-primary:hover,
.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open>.btn-info.dropdown-toggle.focus,
.open>.btn-info.dropdown-toggle:focus,
.open>.btn-info.dropdown-toggle:hover,
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:hover,
.open>.btn-outline-primary.dropdown-toggle ,
.btn-outline-info.active.focus,
.btn-outline-info.active:focus,
.btn-outline-info.active:hover,
.btn-outline-info:active.focus,
.btn-outline-info:active:focus,
.btn-outline-info:active:hover,
.open>.btn-outline-info.dropdown-toggle.focus,
.open>.btn-outline-info.dropdown-toggle:focus,
.open>.btn-outline-info.dropdown-toggle:hover,
.dropdown-item.active,
.dropdown-item.active:focus,
.dropdown-item.active:hover,
.nav-pills .nav-item.open .nav-link,
.nav-pills .nav-item.open .nav-link:focus,
.nav-pills .nav-item.open .nav-link:hover,
.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover,
.card-primary ,
.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover,
.tag-primary,
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover,
.bg-primary,
.bootstrap-touchspin .group-span-filestyle .btn-touchspin,
.group-span-filestyle .bootstrap-touchspin .btn-touchspin,
.group-span-filestyle .btn-default,
.custom-radio input[type=radio]:checked+span,
.btn-default:hover,
.bootstrap-datetimepicker-widget .datepicker td.active,
.bootstrap-datetimepicker-widget .datepicker td.active:hover,
.select-title option[selected="selected"],
.select-title .js-search-link:hover,
.sticky,
.ttvcmsdesktop-top-second,
.ttvcms-header-menu-offer-wrapper,
#ttvcmsdesktop-main-menu .ttvcmsmain-menu-wrapper .ttv-header-menu[data-depth="0"] > li > .ttvmenu-link-wrapper a span:after,
.ttvsearch-more-search:hover,
.nivo-controlNav .nivo-control.active,
.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span,
.ttvproduct-cart-quentity-increment:hover, 
.ttvproduct-cart-quentity-decrement:hover,
.ttvnewsleteer-btn-wrapper .btn-primary:hover,
.ttvbottom-to-top:hover,
.ttv-innerpage-button:hover,
.ttvsearch-more-search:hover,
.ttvcart-product-list-checkout:hover,
.ttvcart-product-list-viewcart:hover,
.pagination .ttv-pagination-wrapper .ttv-pagination-li.active ,
.pagination .ttv-pagination-wrapper .ttv-pagination-li:hover,
#products.grid .ttvproduct-view.ttvproduct-grid,
#products.grid-2 .ttvproduct-view.ttvproduct-grid-2,
#products.list .ttvproduct-view.ttvproduct-list,
#products.list-2 .ttvproduct-view.ttvproduct-list-2,
#products.catalog .ttvproduct-view.ttvproduct-catalog,
.ttvcms-left-column-wrapper .ttv-left-pannal-btn-wrapper:hover,
.ttvcmsproduct-grid-list .ttvproduct-view:hover,
.ttv_search_filter_wrapper .ttvleft-right-title-wrapper:hover,
.products-sort-order .select-list:hover,
#newsletter_block_popup .block_content .send-reqest:hover ,
.ttvmain-slider-content-inner.active:after ,
.ttvmain-slider-contant .ttvmain-slider-button,
.ttvtabs li.active a:before,
.ttvcmstheme-control .ttvtheme-control-icon:hover,
.ttvtheme-control-wrapper .ttvtheme-option .btn-primary,
.ttvtheme-control-wrapper .ttvtheme-control-reset:hover,
.ttvcmstheme-control .ttvtheme-control-wrapper .ttvselect-theme select option:hover,
.ttvvertical-menu-wrapper .ttvmain-menu-top-items .ttvmenu-main-wrapper .ttvmenu-link .ttvtop-icon-wrapper{
	background-color: #maincolor1;
}

@media (max-width: 991px) {
	#ttvcms-mobile-view-header {
		background-color: #maincolor1;
	}	
	.ttvmenu-link-wrapper .ttvdropdown-submenu.ttvmenu-link span:hover{
		color: #maincolor1;
	}
}

.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open>.btn-info.dropdown-toggle.focus,
.open>.btn-info.dropdown-toggle:focus,
.open>.btn-info.dropdown-toggle:hover,
.btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:hover,
.open>.btn-outline-primary.dropdown-toggle,
.btn-outline-info.active.focus,
.btn-outline-info.active:focus,
.btn-outline-info.active:hover,
.btn-outline-info:active.focus,
.btn-outline-info:active:focus,
.btn-outline-info:active:hover,
.open>.btn-outline-info.dropdown-toggle.focus,
.open>.btn-outline-info.dropdown-toggle:focus,
.open>.btn-outline-info.dropdown-toggle:hover,
.card-primary,
.card-outline-primary,
.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover,
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover,
.ttv-innerpage-button:hover {
	border-color: #maincolor1
}

.tabs .nav-tabs .nav-link.active,
.tabs .nav-tabs .nav-link:hover {
	border-bottom: 3px solid #maincolor1
}

.ttvsearch-more-search:hover{
	border: 1px solid #maincolor1;
}
.block_newsletter .ttvnewsletter-input input[type=email]:focus {
	border: 3px solid #maincolor1;
}
.lang-rtl .ttvvertical-menu-wrapper .ttvmain-menu-top-items .ttvmenu-main-wrapper:hover .ttvmenu-link{
	border-right: 3px solid #maincolor1;
}
.ttvvertical-menu-wrapper .ttvmain-menu-top-items .ttvmenu-main-wrapper:hover .ttvmenu-link{
	border-left: 3px solid #maincolor1;
}